body {
    height: 100%;
    background: linear-gradient(to right, #002900 50%, #00A000 50%);
    overflow: hidden;
}

h1 {
    color: #EBFFEB;
    writing-mode: vertical-rl; 
    font-size: 25vh;
    margin-right: auto;
    overflow:hidden;
    position:fixed;
    margin-top: 10vh;
}
.flex-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cat {
    background-color: #EBFFEB;
    color: #002900;
    padding: 10px;
    margin: auto;
    margin: 30px;
    align-self: center;
}

.category {
    margin-top: 25vh;
}